.container{
    min-height: 100vh;
    width: 100%;
    background-color: #191B1F;
    padding: 5% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}