.teamSection {
  width: 100%;
  /* background-color: #1a1a1a; */
  padding: 3% 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -5%;
  margin-bottom: 5%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}


.teamGrid {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Responsive adjustments */
@media (max-width: 1400px) {
  .teamGrid {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .teamGrid {
    gap: 16px;
  }
  
  .title {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .teamSection {
    padding: 60px 0;
  }
  
  .teamGrid {
    grid-template-columns: 1fr;
    gap: 24px;
    /* margin-bottom: ; */
    /* margin-top: -32%; */
  }
  
  
  .title {
    margin-bottom: 32px;
  }
}