/* MainSection.module.css */
.mainSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #191B1F;
  position: relative;
  overflow: visible;
  padding: 0;
  margin-top: -10%;
}

.heroWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingWrapper {
  width: 90%;
  max-width: 75rem; /* 1200px / 16 = 75rem */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem; /* 20px / 16 = 1.25rem */
  margin-top: -10%;
  margin-bottom: 5%;
}

/* Responsive */
@media (max-width: 64rem) { /* 1024px / 16 = 64rem */
  .heroWrapper {
    margin-bottom: 3.125rem; /* 50px / 16 = 3.125rem */
  }
  
  .ratingWrapper {
    margin-bottom: 3.75rem; /* 60px / 16 = 3.75rem */
    margin-top: -30%;
  }
}

@media (max-width: 62rem) { /* 1024px / 16 = 64rem */
  .heroWrapper {
    margin-bottom: 3.125rem; /* 50px / 16 = 3.125rem */

  }
  
  .ratingWrapper {
    margin-bottom: 3.75rem; /* 60px / 16 = 3.75rem */
    margin-top: -36%;
    /* width: 30%; */
  }
}

@media (max-width: 48rem) { /* 768px / 16 = 48rem */
  .heroWrapper {
    margin-bottom: 2.5rem; /* 40px / 16 = 2.5rem */
  }
  
  .ratingWrapper {
    padding: 0 0.9375rem; /* 15px / 16 = 0.9375rem */
    margin-bottom: 3.125rem; /* 50px / 16 = 3.125rem */
    margin-top: -5%;
  }
}

@media (max-width: 36rem) { /* 576px / 16 = 36rem */
  .heroWrapper {
    margin-bottom: 1.875rem; /* 30px / 16 = 1.875rem */
  }
  
  .ratingWrapper {
    padding: 0 0.625rem; /* 10px / 16 = 0.625rem */
    margin-bottom: 1.875rem; /* 30px / 16 = 1.875rem */
    margin-top: -75%;
  }
}

