/* MainSection.module.css */
.mainSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #191B1F;
  position: relative;
  overflow: visible;
  padding: 0 ; 
  margin-top: -10%;
}

.heroWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 60px;  Space between hero and rating */
}

.ratingWrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* margin-bottom: 80px;  Space at bottom */
  margin-top: -20%;
}

/* Responsive */
@media (max-width: 1024px) {
  .heroWrapper {
    margin-bottom: 50px;
  }
  
  .ratingWrapper {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .heroWrapper {
    margin-bottom: 40px;
  }
  
  .ratingWrapper {
    padding: 0 15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .heroWrapper {
    margin-bottom: 30px;
  }
  
  .ratingWrapper {
    padding: 0 10px;
    margin-bottom: 40px;
  }
}