.card {
  display: flex;
  width: 357px;
  /* height: 349.563px; */
  padding: 29.75px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12.396px;
  background: #2A2A2A;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card.withShadow {
  box-shadow: 0 0 30px 0 #9A3C1E;
}

.title {
    width: 297.5px;
    /* height: 25px; */
    /* background-color: rgb(245, 146, 17); */
    color: #D9D9D9;
    font-family: Roboto;
    font-size: 19.833px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.792px; /* 125% */
    align-self: stretch;
}

.description {
    width: 278.209px;
    /* height: 60px; */
    /* background-color: rgba(238, 139, 9, 0.945); */
  align-self: stretch;
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0;
}

.featureList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.115px;
}

.featureIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.button {
  display: flex;
  padding: 9.917px 0;
  justify-content: center;
  align-items: center;
  gap: 12.396px;
  align-self: stretch;
  /* border-radius: 14.167px;
  border: 1px solid #D04A1D; */
  border-radius: 14.167px;
 border: 1.24px solid #4A4A4A;
  transition: all 0.3s ease;
  background: #D04A1D;
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.noBackground {
  background: transparent;
  color: #D04A1D;
  border: 1.24px solid #4A4A4A;
}
.button:not(.noBackground) {
  background: #D04A1D;
  color: #D9D9D9;
  border: none;
}
.button:not(.noBackground):hover {
  background: #B5411A;
}

/* .button:hover {
  background-color: #B5411A;
  color: #FFFFFF;
} */

/* .button.noBackground:hover {
  background: rgba(208, 74, 29, 0.1);
  color: #D04A1D;
} */

.popularBadge {
  position: absolute;
  top: 20px;
  right: -30px;
  transform: rotate(45deg);
  display: none;
  padding: 2.479px 12.729px 2.354px 9.917px;
  justify-content: center;
  align-items: center;
  background: #D04A1D;
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 9.917px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.875px;
  width: 150px;
  text-align: center;
}

.isPopular .popularBadge {
  display: flex;
}

/* Responsive adjustments */
@media (max-width: 400px) {
  .card {
    width: 100%;
    padding: 20px;
  }
  
  .title {
    font-size: 18px;
    line-height: 22px;
  }
  
  .description {
    font-size: 13px;
    line-height: 18px;
  }
  
  .button {
    padding: 9.917px 40px;
  }
}