/* CaseStudyPage.module.css */
.container {
  margin-top: 60px;
  /* width: 1440px; */
  /* height: 2343px; */
  /* background: linear-gradient(0deg, #191B1F 0%, #191B1F 100%), #000; */
  color: white;
  /* background-color: #9066da; */
  background-color: #191B1F;
}


/* Breadcrumb */
.breadcrumb {
  /* background-color: rgb(120, 138, 131); */
  border-bottom: 1px solid #1A1A1A;
}

.breadcrumbContent {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  color: #888;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbLink {
  color: #888;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumbLink:hover {
  color: #D04A1D;
}

.breadcrumbDivider {
  color: #999;
}

.currentPage {
  color: #D04A1D;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.281px;
  letter-spacing: -0.14px;
}
/* Main Content */
.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
  /* background-color: #222; */
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 3rem; */
  /* background-color: yellowgreen; */
}

.title {
  /* background-color: red; */
  color: #FFF;
  width: 453px;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 29.171px; /* 91.16% */
}

.subtitle {
    width: 446px;
  height: 25px;
  color: #6B7280;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.778px;
  text-transform: capitalize;
}

.tags {
  display: inline-flex;
  height: 18.475px;
  padding-right: 301.738px;
  align-items: flex-start;
  gap: 7.779px;
  border: 0 solid #E5E7EB;
  margin: 16px 0;
}

.preview {
  width: 740px;
  height: 415px;
  aspect-ratio: 148/83;
  background: url('/assets/ProjectImage.png') center/cover no-repeat;
  border-radius: 8px; 
  /* margin: 20px 0;  */
}



/* Overview Section */
.section {
  width: 739px;
  height: 154px;
  border-radius: 20px;
  background: #222;
  margin: 20px 25px;
  /* background: green; */
}

.sectionHeader {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  /* margin-bottom: 1rem; */
  padding: 5px;
}

.overviewIconContainer {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #222;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.sectionTitle {
     width: 99px;
     height: 28px;
     color: #FFF;
     font-family: Roboto;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}

.sectionText ,.sectionText2 {
  /* background-color: blue; */
  margin-left: 60px;
  width: 595px;
  height: 106px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section2{
  width: 739px;
  height: 522px;
  border-radius: 20px;
  background: #222;
  margin: 20px 25px;
  /* background-color: #888; */
}

.sectionHeader2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  /* margin-bottom: 1rem; */
  padding: 5px;
}

.overviewIconContainer2 {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #222;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}


.sectionTitle2 {
     width: 119px;
      height: 28px;
      color: #FFF;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}




/* Features Grid */
.featuresGrid {
  /* background-color: #902501; */
   display: flex;
  flex-wrap: wrap;
  width: 600;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 auto;
  gap: 20px;
  margin-top: -20px;
  /* background-color: #222; */
}

.featureCard {
  flex: 0 0 auto; /* Changed from flex: 1 1 calc(33.333% - 14px) */
  width: 166px;
  height: 162px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .featureCard:hover {
  box-shadow: 0 0 0 1px rgba(249, 115, 22, 0.5);
} */

.featureIcon {
  width: 30px;
  height: 30px;
  /* background-color: #374151; */
}

.featureTitle {
  width: 146px;
  height: 45px;
  margin-bottom: 10px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* background-color: greenyellow; */
  }

.featureDescription {
  width: 152px;
  height: 59px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: rgb(108, 116, 93); */
}

/* Sidebar */
.sidebar {
  display: flex;
  width: 357px;
  height: 965.434px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  border: 0 solid #E5E7EB;
  /* background-color: brown; */
}

/* Card */
.card {
  display: flex;
  height: 218px;
  padding: 16px 26px 16px 28px;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5.821px;
  border: 0 solid #E5E7EB;
  background: #222;
  /* background-color: green; */
}

.cardTitle {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.522px; /* 86.232% */
}

/* Results */
.results {
  display: flex;
  width: 317px;
  height: 88px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}
.resultItem{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.resultValue {
  color: #D04A1D;
  text-shadow: 0 4px 20px #902501;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: 19.402px; /* 71.86% */
}

.resultLabel {
 width: 241px;
 color: #999;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Button */
.button {
    display: flex;
    padding: 10px 19.375px 9.723px 61.232px;
    justify-content: flex-end;
    align-items: center;
    gap: 32.17px;
    border-radius: 4.844px;
  border: 0 solid #E5E7EB;
  background: var(--Primary, #D04A1D);
}

.button:hover {
  background-color: #ea580c;
}

.freeProjectText{
  width: 313px;
  color: #D9D9D9;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* background-color: blue; */
}

/* Testimonials */
.testimonial {
  display: flex;
  gap: 0.75rem;
}

.ClientTestimonialsTitle{
  color: #FFF;
  font-family: Roboto;
  font-size: 11.641px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.522px; /* 133.333% */
}

.testimonialAvatar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 20px;
  /* background: url('') lightgray 50% / cover no-repeat; */
}
.testimonialContent{
  display: flex;
  flex-direction: column;
  /* background-color: #902501; */
  gap: 0.6rem;
}

.testimonialText {
  align-self: stretch;
  color: #BFBFBF;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.testimonialAuthor {
  align-self: stretch;
  color: #BFBFBF;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Project Details */
.ProjectDetailscard{
 display: flex;
padding: 16.152px 16px 28.848px 27px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 5.821px;
border: 0 solid #E5E7EB;
background: #222;
  /* background-color: rgb(231, 173, 98); */
}

.ProjectDetailsTitle{
  color: #FFF;
  font-family: Roboto;
  font-size: 11.641px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.522px; /* 133.333% */
}
.details {
      display: flex;
    width: 314px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  /* background-color: #374151; */
}

.detailItem {
  display: flex;
align-items: center;
gap: 10px;
margin-bottom: 5px;
align-self: stretch;
border: 0 solid #E5E7EB;
border: 0 solid #E5E7EB;
/* background-color: #9066da; */
}

.detailLabel {
  color: #FFF;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal; 
  /* background-color: red; */
}
.detailValue{
  color: #BFBFBF;

/* Regular 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  /* background-color: yellow; */
}
.detailIcon {
  width: 8.488px;
  height: 9.701px;
  margin-right: 8px;
}

/* Responsive */
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  
  .grid {
    grid-template-columns: 2fr 1fr;
  }
  
  .featuresGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .footerContent {
    grid-template-columns: repeat(4, 1fr);
  }
}