.ProjectSection {
    width: 1120px;
    height: 782.4084px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #191B1F;
    /* background-color: coral; */
}

.heroDots {
  /* height: 2409.793px; 
  width: 1588.4px;; */
  background: #040352f6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
  
}

.ProjectGrid {
    /* background-color: yellow; */
    display: flex;
    width: 1120px;
    /* height: 396.4084px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start; 
    row-gap: 22px;
    align-self: stretch;
    flex-wrap: wrap;
    border: 0 solid #E5E7EB;
}

/* Tablet - 1024px */
@media (max-width: 1024px) {
    .ProjectSection {
        width: 100%;
        /* background-color: antiquewhite; */
        padding: 40px 30px;
        gap: 18px;
        height: auto;
    }
    
    .ProjectGrid {
        margin: 0 auto;
        width: 90%;
        height: auto;
        /* background-color: brown; */
        column-gap: 18px;
        row-gap: 20px;
        justify-content: center;
    }
}

/* Tablet - 768px */
@media (max-width: 768px) {
    .ProjectSection {
        width: 100%;
        /* background-color: blue; */
        padding: 30px 20px;
        height: auto;
        gap: 16px;
        margin: 0  auto;
    }
    
    .ProjectGrid {
        height: auto;
        width: 90%;
        margin: 0 auto;
        /* background-color: #16e621; */
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

/* Mobile - 425px */
@media (max-width: 425px) {
    .ProjectSection {
        height: auto;
        padding: 24px 16px;
        gap: 14px;
        /* background-color: blue; */
        margin: 0 auto;
    }
    
    .ProjectGrid {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 343px;
        gap: 22px;
        /* background-color: red; */

    }
}

/* Mobile - 375px */
@media (max-width: 375px) {
    .ProjectSection {
        padding: 20px 12px;
        gap: 12px;
    }
    
    .ProjectGrid {
        gap: 16px;
    }
}