.section {
  width: 100%;
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 60px;
}

.title {
  font-size: 2.25rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  justify-self: center;
  text-align: center;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.25rem;
  color: #b0b0b0;
  font-weight: 400;
  line-height: 1.6;
}

.cardsGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(120px, 1fr);
  gap: 24px;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 1024px) {
  .section {
    /* padding: 80px 20px; */
    margin-top: -8%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .section {
    padding: 60px 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .header {
    margin-bottom: 48px;
  }
  
  .cardsGrid {
    gap: 16px;
    grid-auto-columns: minmax(100px, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .section {
    padding: 2rem 10px;
  }
  
  .title {
    font-size: 1.75rem;
  }
  
  .subtitle {
    font-size: 0.938rem;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .cardsGrid {
    gap: 1%;
    grid-auto-columns: minmax(40px, 1fr);
  }
}