.servicePage {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #191B1F;;
  color: #fff;
}

.contentSection1 {
    /* background: yellowgreen; */
    display: flex;
    width: 1120px;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    border: 0 solid #E5E7EB;
}
.contentSection2{
    width: 548px;
    height: 244.9012px;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18.052px;
    border: 0 solid #E5E7EB;
}

.contentSection2Title{
    color: #FFF;
    font-family: Roboto;
    font-size: 16.924px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.821px; /* 146.667% */
}

.contentSection2Description{
      width: 548px;
      color: #E6E6E6;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
}

.serviceList {
display: flex;
padding: 0 204.974px 3.18px 0;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12.206px;
align-self: stretch;
border: 0 solid #E5E7EB;

    /* list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px; */
}

.serviceItem {
    /* display: flex;
    align-items: flex-start;
    gap: 8px; */
    display: flex;
    align-items: center;
    gap: 9.026px;
    border: 0 solid #E5E7EB;
}

.serviceIcon {
  width: 16px;
height: 16px;
    /* flex-shrink: 0;
    margin-top: 2px; */
}

.serviceContent {
    color: #E6E6E6;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.795px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
}



.FeaturesCapabilities{
    /* width: 1440px; */
    /* height: 513px; */
    display: flex;
    /* width: 1120px; */
    width: 100%;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* background: red; */
    border: 0 solid #E5E7EB;
    background: #1E1E1E;
}

.FeaturesCapabilitiesContent{
   /* background-color: bisque; */
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 0 solid #E5E7EB;
}

.FeaturesCapabilitiesTitle{
  /* background: blue; */
  display: flex;
width: 333px;
height: 33px;
flex-direction: column;
justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.375px; /* 57.422% */
  }

.FeaturesCapabilitiesDescription{
  /* background: green; */
  color: #E6E6E6;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.25px; /* 76.563% */
}


.OurDevelopmentProcess{
  display: flex;
    width: 1440px;
  flex-direction: column;
  align-items: center;
  /* background: #191B1F; */
  /* background: blue; */
  background: linear-gradient(0deg, #191B1F 0%, #191B1F 100%), #000;
}

.OurDevelopmentProcessContent{
  display: flex;
  padding: 0 283.733px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  /* background-color: yellowgreen; */
}

.OurDevelopmentProcessTitle{
    display: flex;
    width: 373px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px; /* 52.5% */
    /* background-color: green; */
}

.OurDevelopmentProcessDescription{
  width: 962px;
  height: 14px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.067px; /* 81.667% */
  /* background-color: blueviolet; */
}

.OurDevelopmentContainer{
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;   
  /* background: red; */
}

.SuccessStories{
  display: flex;
  /* width: 1440px; */
  width: 100%;
   height: 669px;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: rgb(187, 119, 30);  */
  /* background-color: red; */
  border: 0 solid #E5E7EB;

background: #1E1E1E;
}

.SuccessStoriesContent{
    /* width: 1120px;
    height: 56px; */
    display: flex;
    padding: 0 280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
    /* background-color: rgba(2, 104, 2, 0.979); */
}
.SuccessStoriesTitle{
    display: flex;
    width: 231px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px; /* 52.5% */
    /* background-color: rgb(59, 116, 2); */
}
.SuccessStoriesDescription{
    width: 992px;
    height: 14px;
    margin-bottom: 41px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.067px; /* 81.667% */
    /* background-color: blue; */
  } 

.SuccessStoriesContainer{
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: 0 solid #E5E7EB;
}
.testimonialSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.testimonialContent {
  display: flex;
  width: 930px;
  padding: 22.4px 68.133px;
  flex-direction: column;
  align-items: center;
  gap: 14.933px;
  border-radius: 5.6px;
  border: 0 solid #E5E7EB;
  background: #222;
}

.testimonialText {
  height: 27.067px;
  align-self: stretch;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 107.143% */
}

.testimonialAuthor {
  display: flex;
  align-items: center;
  gap: 14.229px;
  border: 0 solid #E5E7EB;
}

.authorIcon {
  width: 28.458px;
  height: 28.458px;
  background: url("/assets/SuccessStories/Frame.png") lightgray 50% / cover no-repeat;
}

/* .authorImage {
  width: 28.458px;
  height: 28.458px;
  border-radius: 50%;
  object-fit: cover;
} */

.andIcon {
  display: flex;
  width: 29.867px;
  height: 29.867px;
  padding: 6.533px 6.533px 6.534px 6.533px;
  justify-content: center;
  align-items: center;
  border-radius: 9332.4px;
  border: 0 solid #E5E7EB;
  background: #7A4A1A;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.authorName {
color: #FFF;
font-family: Roboto;
font-size: 9.486px;
font-style: normal;
font-weight: 600;
line-height: 11.858px; /* 125% */
align-self: stretch;
}

.authorRole {
 color: #999;
font-family: Roboto;
font-size: 9.486px;
font-style: normal;
font-weight: 400;
line-height: 11.858px; /* 125% */
align-self: stretch;
}

.ServicePackages{
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border: 0 solid #E5E7EB;
  /* background-color: blueviolet; */
  background-color: #191B1F;

}

.ServicePackagesContent{
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border: 0 solid #E5E7EB;
  /* background-color: green; */

}

.ServicePackagesTitle{
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.207px; /* 100.646% */
  /* background-color: red; */

}

.ServicePackagesDescription{
  color: #D9D9D9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.254px; /* 107.835% */
  /* background-color: blue; */

}

.ServicePackagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0 solid #E5E7EB;
    /* background: red; */
}



.ctaSection {
    display: flex;
    width: 930px;
    padding: 29.063px 251.875px;
    flex-direction: column;
    align-items: center;
    gap: 12.109px;
    border-radius: 7.266px;
    border: 0 solid #E5E7EB;
    background: #2A2A2A;
}

/* .ctaText {
    color: #D9D9D9;
    text-align: center;
    font-family: Roboto;
    font-size: 12.109px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.164px;
    margin: 0;
} */


/* .ctaText p:last-child {
    font-size: 10.898px;
    font-weight: 400;
    line-height: 13.32px;
    margin: 5px 0 0 0;
} */

.ctaText1{
  align-self: stretch;
    color: #D9D9D9;
  text-align: center;
  font-family: Roboto;
  font-size: 12.109px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.164px; /* 150% */
    
}
.ctaText2{
  height: 26.943px;
align-self: stretch;
color: #D9D9D9;
font-family: Roboto;
font-size: 10.898px;
font-style: normal;
font-weight: 400;
line-height: 13.32px; /* 122.222% */

}

.ctaButton {
    display: flex;
    padding: 9.99px 19.375px 9.732px 19.375px;
    justify-content: center;
    align-items: center;
    gap: 18.027px;
    border-radius: 4.844px;
    border: 0 solid #E5E7EB;
    background: var(--Primary, #D04A1D);
    color: #D9D9D9;
    font-family: Roboto;
    font-size: 10.898px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.742px; /* 144.444% */
}

.ctaButton svg {
        width: 9.688px;
    height: 9.688px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .serviceItem {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .serviceIcon {
    margin-bottom: 1rem;
  }
}