.container{
    min-height: 100vh;
    width: 100%;
    background-color: #191B1F;
    padding: 5% 6%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: #ff6b6b;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}