/* Base Layout */
.portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: #191B1F;
    position: relative;
}


.container {
    
    /* background-color: #46c70ae5; */
    width: 1120px;
    height: 1233.2253px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .portfolioPage {
        /* width: 450px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 16px;
        align-self: stretch;
        flex-wrap: wrap;
        /* background-color: blue; */
        /* margin-left: 10%; */
    }

    .container {
        /* width: 343px;
        height: auto;
        margin-top: 20px;
        flex-direction: column; */
        /* background-color: red; */
        display: flex;
        width: 343px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 480px) {
    .portfolioPage {
        /* width: 100%; */
        /* max-width: 343px; */
        gap: 32px;
        padding: 0 16px;
    }

    .container {
        /* width: 100%; */
        /* max-width: 343px; */
        height: auto;
        margin-top: 16px;
        flex-direction: column;
    }
}

/* Tablet Responsive */
@media (max-width: 1200px) and (min-width: 769px) {
    .container {
        /* width: 90%; */
        max-width: 960px;
        height: auto;
    }
}