.container {
  display: flex;
  width: 932px;
  /* height: 184.2px; */
  flex-wrap: wrap;
  justify-content: space-between;    
  align-items: flex-start;
  border: 0 solid #E5E7EB;
  /* margin: 0 auto;  */
  /* background: red; */
}


/* For mobile devices (343px and below) */
@media (width: 343px) {
  .container {
    display: flex;
    width: 343px;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
}