.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* background-color: brown; */
  height: 230px;
  width: 1120px;
  gap: 8px;
  align-self: stretch;
  margin-top: -30px;
}
.title1 {
  width: 452px;
  height: 72px;
  /* background: #000; */
  color: var(--white, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: var(--font-size-72, 72px);
  font-style: normal;
  font-weight: 900;
  line-height: var(--font-size-72, 72px);
  letter-spacing: var(--letter-spacing--1_8, -1.8px);
}
.title2 {
  display: flex;
  width: 590px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: -1.8px;
  background: linear-gradient(90deg, #D04A1D 0%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  /* background: green; */
  width: 631px;
  height: 25px;
  flex-shrink: 0;
  color: #6B7280;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.778px;
  text-transform: capitalize;
}