.dotsBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2409.793px; /* Fixed height from design */
  width: 1588.4px;
  pointer-events: none;
  z-index: 1;
}

.dots {
    /* background: #000; */
  position: absolute;
  top: -403.5539px; 
  height: 2409.793px; /* Fixed height from design */
  width: 1588.4px;; /* Adjust width as needed */
  /* background-image: 
    url('/assets/dotslayer.png'),
    url('/assets/dotslayer.png'),
    url('/assets/dotslayer.png');
  background-repeat: no-repeat;
  background-size: 100% auto; */
  /* background-position: 0 0, 0 33.33%, 0 66.66%; */
background: 
        url('/assets/dotslayer.png')  0px 0px / 100% 100% no-repeat,
        url('/assets/dotslayer.png')  0px 0px / 100% 100% no-repeat,
        url('/assets/dotslayer.png')  0px 0px / 100% 100% no-repeat;
  
  opacity: 0.7; 
}

.leftDots {
  left: -70%;
  right: auto;
}

.rightDots {
  right: -90%; 
  left: auto;
  transform: scaleX(-1);
}

/* For better positioning in the HeroSection */
.heroDots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible; /* Changed from hidden to visible to show dots */
  z-index: 0;
  pointer-events: none;
}



/* Responsive adjustments */
@media (max-width: 1600px) {
  .rightDots {
    left: auto;
    right: 0;
  }
}

@media (max-width: 1024px) {
  .dots {
    width: 150px;
    top: -300px;
    height: 2000px;
  }
}

@media (max-width: 768px) {
  .dots {
    width: 100px;
    top: -200px;
    height: 1600px;
  }
}