.RatingSection {
    width: 1120px;
    height: 635px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #191B1F;
    overflow: hidden;
}
@media (max-width: 768px) {
  .RatingSection {
    /* width: 343px;
    height: 125.6316px;  */
    display: flex;
    padding: 12.25px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.25px;
    /* align-self: stretch; */
    border: 0 solid #E5E7EB;
    /* width: 100%;   */
    /* height: auto;   */
    /* background: green; */
    /* display: flex;
    width: 74px;
    height: 76.7369px;
    flex-direction: column;
    align-items: center;
    gap: 5.909px;
    border: 0 solid #E5E7EB; */
}
}