.RatingSection {
     width: 1200px;
    height: 635px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #191B1F;
    overflow: hidden;
}
/* Tablet - 1024px */
@media (max-width: 1024px) {
    .RatingSection {
        padding: 40px 30px;
        gap: 18px;
    }
}

/* Tablet - 768px */
@media (max-width: 768px) {
    .RatingSection {
        padding: 30px 20px;
        min-height: auto;
        gap: 16px;
    }
}

/* Mobile - 425px */
@media (max-width: 425px) {
    .RatingSection {
        padding: 24px 16px;
        gap: 14px;
        background-color: rgb(50, 224, 7)(51, 255, 0);
  
    }
}

/* Mobile - 375px */
@media (max-width: 375px) {
    .RatingSection {
        padding: 20px 12px;
        gap: 12px;
    }
}