.card {
    display: flex;
    width: 262px;
    height: 364px;
    padding: 71px 20px 40px 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 131/182;
    border-radius: 100px 0 100px 0;
    background: 
        linear-gradient(#222429, #222429) padding-box,
        linear-gradient(135deg, #D04A1D 0%, #222429 100%) border-box;
    border: 5px solid transparent;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.testimonialText {
  width: 226px;
  height: 100px;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.2px;
}

.authorContainer {
  /* background-color: rgb(234, 144, 26); */
  width: 230px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.avatar {
  width: 50px;
  height: 50px;
  fill: #D9D9D9;
}

.authorInfo {
  display: flex;
  width: 164px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
}

.authorName {
    width: 155px;
    height: 28px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.authorRole {
    width: 158px; 
    height: 28px; 
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}