.circleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.circle {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* Direction and Position Classes */
.circleleftdown {
  width: 100%;
  height: 100%;
}

.circlerightup {
  width: 100%;
  height: 100%;
}