.ellipseTopRight,
.ellipseBottomLeft {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
.ellipseTopRight {
  top: 10px;
  left: 944px;
  background-color: rgba(208, 74, 29, 0.2); /* #D04A1D33 */
  border-radius: 50%;
  width: 172px;
  height: 172px;
  filter: blur(64.5px);
}
.ellipseBottomLeft {
  top: 266px;
  left: 19px;
  background-color: rgba(208, 74, 29, 0.2); /* #D04A1D33 */
  border-radius: 50%;
  width: 172px;
  height: 172px;
  filter: blur(64.5px);
}
.ellipseImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}