.container {
    width: 1120px;
    height: 291.0956px;
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; 
    border: 0 solid #E5E7EB;
    /* margin: 0 auto; */
}
/* Responsive adjustments */
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 24px;
    }
}
@media (max-width: 768px) {
    .container {
        gap: 20px;
        padding: 0 16px;
    }
}
@media (max-width: 480px) {
    .container {
        width: 343px;
        display: flex;
        flex-direction: column;
        height: 750px; 
        gap: 16px;
        padding: 0 12px;
        /* background-color: bisque; */
    }
}