.container {
    display: flex;
    width: 168px;
    /* height: 168.2px; */
    padding: 0 7.2px;
    flex-direction: column;
    align-items: center;
    gap: 8.4px;
    flex-shrink: 0;
    border: 0 solid #E5E7EB;
    /* background: green; */
    background-color: #191B1F;
    cursor: pointer;
}

/* Hover effect */
.container:hover .iconContainer {
    background: #D04A1D;
    
}
.iconContainer {
    display: flex;
    width: 38.4px;
    height: 38.4px;
    padding: 8.4px 0 8px 0;
    justify-content: center;
    align-items: center;
    border-radius: 11998.8px;
    border: 1 solid #D04A1D;;
    transition: background 0.5s ease;
    /* background: #D04A1D; */
}

.title {
    /* background-color: #D04A1D; */
    width: 153.6px;
    /* height: 17.5px; */
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 13.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px; /* 127.273% */
}

.description {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    align-self: stretch;
    width: 153.6px; 
    /* height: 96px; */
    /* background: yellowgreen; */
}

/* Mobile devices */
@media (max-width: 480px) {
    .container {
        display: flex;
        padding: 0 4.8px;
        flex-direction: column;
        align-items: center;
        gap: 8.4px;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        justify-self: stretch;  
        border: 0 solid #E5E7EB;
        /* background-color: aquamarine; */
    }

    .title {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 13.2px;
        font-style: normal;
        font-weight: 600;
        line-height: 16.8px; /* 127.273% */
        align-self: stretch;
    }

    .description {
        color: #FFF;
        text-align: center;
        align-self: stretch;
        /* Regular 14 */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .iconContainer {
        display: flex;
        width: 38.4px;
        padding: 8.4px 0 8px 0;
        justify-content: center;
        align-items: center;
    }

    .container:hover .iconContainer {
    background: #D04A1D;
    
}
}